@mixin collection-theme($primary, $secondary) {
  $animation: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  %absoulteImage {
    min-width: 101%;
    max-width: inherit;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: $animation;
  }
  
  .collection-wrapper {
    .collection-item {
      img {
        @extend %absoulteImage;
      }
      & > a {
        & > span {
          &:after {
            background: rgba(black, 0.5);
          }
        }
      }
      .collection-text {
        color: white;
      }
    }
  }
}
