$animation: all 1s cubic-bezier(0.19, 1, 0.22, 1);

// -- Collection page box --
.collection-wrapper {
  justify-content: center;

  .collection-item {
    flex: 0 0 calc(25% - 20px);
    height: 130px;
    position: relative;
    overflow: hidden;
    margin: 8px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 6px 10px 2px rgba(0, 0, 0, 0.2);
    transition: $animation;

    &:hover {
      box-shadow: 3px 6px 10px 2px rgba(0, 0, 0, 0.3);
      transition: $animation;
    }

    @media all and (max-width: 991px) {
      flex: 0 0 calc(33.33% - 20px);
    }

    @media all and (max-width: 767px) {
      flex: 0 0 calc(50% - 20px);
    }

    @media all and (max-width: 540px) {
      flex: 0 0 100%;
    }

    & > a {
      & > span {
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      img {
        transform: translate(-50%, -50%) scale(1.3);
      }

      &:hover {
        img {
          transform: translate(-50%, -50%) scale(1);
          transform-origin: center center;
          transition: $animation;
        }
      }
    }

    .collection-text {
      flex-direction: column;
      position: absolute;
      left: 15px;
      top: 15px;
      font-size: 14px;
      z-index: 1;
      font-weight: 600;

      span:last-child {
        display: block;
        margin-top: 5px;
      }
    }

    > a {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}
