@mixin popup-theme($primary, $secondary, $common) {
  $animation: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  %roundTransperentButton {
    font-size: 26px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 1px 2px 11px 0px rgba($primary, 0.3);
    background: rgba($primary, 0.5);
    color: $secondary;
  }

  %absolute-at-half {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
  }

  %button-round {
    padding: 10px;
    display: flex;
    border: 1px solid $primary;
    border-radius: 25px;
    color: $primary;
    background: transparent;
    transition: $animation;

    &:hover,
    &.active {
      box-shadow: 1px 2px 11px 0px rgba(black, 0.3);
      color: $secondary;
      background: $primary;
      transition: $animation;
    }
  }

  %button-round-invert {
    border-radius: 25px;
    padding: 10px;
    display: flex;
    text-decoration: none;
    border: 1px solid $primary;
    background: $primary;
    color: $secondary;
    transition: $animation;

    &:hover,
    &.active {
      color: $primary;
      background: transparent;
      box-shadow: 1px 2px 11px 0px rgba(black, 0.3);
      transition: $animation;
    }
  }

  .popup-wrap {
    .close, 
    .trash { 
      > i {
        @extend %roundTransperentButton;
        color: white;
        background: transparent;
      }
    }

    .modal-background {
      background-color: #000;
    }

    .image-popup-wrap {
      .image-popup-description {
        background: $secondary;
        color: $primary;
        box-shadow: -4px 0 16px 0 rgba(black, .2);

        @media (max-width: 991px) {
          box-shadow: 0 0px 12px 4px rgba(black, .2);
        }

        .uparrow {
          background: $common;
        }

        .user-info {
          color: $primary;
          .user-name {
            a {
              color: rgba(black, 0.9);
              color: $primary;
            }
          }
        }

        .image-detail {
          color: $primary;
        }
      }
    }

    .buttons-wrapper {
      .button {
        > a {
          @extend %button-round-invert;
        }
      }

      .button-share {
        > span {
          > i {
            @extend %button-round;
          }
        }

        ul {
          > li {
            > a {
              @extend %button-round-invert;
            }
          }
        }
      }
    }
  }

  // -- Toggle button ---
  .toggle-switch {
    > span {
      @extend %absolute-at-half;
      background: $secondary;
    }

    &:after {
      @extend %absolute-at-half;
      background: #bbb;
    }
  }
}
