<div class="gallery-wrapper main-container">

  <div class="search flex" *ngIf="showSearch">
    <form class="search-form">
      <div class="form-field">
        <div class="search-input"><input type='text' placeholder='i.e. Dogs' [(ngModel)]='searchQuery'
            name='searchQuery'></div>
        <button type="button" [disabled]="!searchQuery" (click)="getSearchResult(searchQuery)"><i
            class="icon icon-search"></i></button>
      </div>
    </form>
    <div class="sorting flex">
      <button class="sort" [ngClass]="isSortActive? 'active':''" href="javascript:void(0);"
        (click)="setSort('popuplar')" [disabled]="searchQuery"><i class="material-icons">sort</i></button>
    </div>
  </div>

  <div class="search flex" *ngIf="!showSearch && collection">
    <div class="w100 collection-banner">
      <h1 class="text-center"><strong>{{collection.title}}</strong></h1>
    </div>
  </div>

  <div class="main-content">
    <div class="loader"></div>
    <div class="masonry flex masonry--h" id="masonry">
      <span class="masonry-brick masonry-brick--h" *ngFor="let photo of photos, let i = index">
        <div class="image-wrapper">
          <a (click)="openShareModal('sharePopup',photo)" href="javascipt:void(0);">
            <img alt="photo.alt_description" [src]="photo.urls.small" />
          </a>
          <a class="user-info flex align-items-center" [href]="photo.user.links.html" target="_blank">
            <span class="user-profile-image"><img alt="{{photo.user.first_name}}"
                [src]="photo.user.profile_image.small" /></span>
            <span class="user-name">{{photo.user.first_name}}</span>
          </a>
          <div class="image-info flex align-items-center">
            <a href="javascript:void(0);" class="image-like text-left" (click)="addFavorite(photo)">
              <i class="material-icons-outlined">thumb_up</i>
            </a>
          </div>
        </div>
      </span>
    </div>
  </div>

</div>

<popup id="sharePopup">
  <div class="modal">
    <ng-container *ngIf="sharePhoto">
      <a class="close" href="javascript:void(0);" (click)="closeModal('sharePopup');">
        <i class="material-icons">arrow_back</i>
      </a>

      <div class="modal-body image-popup-wrap flex">
        <div class="modal-image image-popup-image text-center" [style.background]="sharePhoto.color">
          <span><img [src]="sharePhoto.urls.regular" /></span>
        </div>

        <div class="modal-description image-popup-description">
          <h4>
            <ng-container *ngIf="sharePhoto.description">{{sharePhoto.description | slice:0:18}}</ng-container>
          </h4>

          <div class="user-info flex align-items-center">
            <span class="flex align-items-center">
              <span class="user-profile-image"><img alt="" [src]="sharePhoto.user.profile_image.small" /></span>
              <span class="user-name flex">
                <strong>{{sharePhoto.user.first_name}}</strong>
                <span class="small" *ngIf="sharePhoto.user.username"><a [href]="sharePhoto.user.links.html"
                    target="_blank"
                    title="{{sharePhoto.user.first_name}}"><strong>@{{sharePhoto.user.username}}</strong></a></span>
              </span>
            </span>
            <span>
              <span>{{sharePhoto.created_at | date}}</span>
            </span>
          </div>

          <div class="image-detail">
            <div class="flex align-items-center"><label>Dimention:</label><strong>{{sharePhoto.width}} x
                {{sharePhoto.height}}</strong>
            </div>
            <div class="flex align-items-center"><label>Likes:</label><strong>{{sharePhoto.likes}}</strong></div>
            <div class="color-box flex align-items-center"><label>Color:</label><span
                [style.background]="sharePhoto.color"></span></div>
          </div>

          <div class="buttons-wrapper flex">
            <div class="button text-center">
              <a [href]="sharePhoto.links.download + '?force=true'" download rel="nofollow">Download</a>
            </div>
            <div class="button-share text-center">
              <span (click)="shareToggle()" [ngClass]="isShareActive ? 'active' : ''"><i
                  class="material-icons">share</i>
                <ul class="flex">
                  <li><a
                      [href]="'https://www.facebook.com/sharer/sharer.php?u=' + sharePhoto.links.html + '&t=' + sharePhoto.description"><i
                        class="icon icon-facebook"></i></a></li>
                  <li><a
                      [href]="'http://twitter.com/share?text='+ sharePhoto.description + '&url=' + sharePhoto.links.html"><i
                        class="icon icon-twitter"></i></a></li>
                  <li><a [href]="'https://wa.me/?text='+ sharePhoto.links.html"><i class="icon icon-whatsapp"></i></a>
                  </li>
                  <li><a href="javascript:void(0);" (click)="copyText(sharePhoto.links.html)"><i
                        class="icon icon-link"></i></a></li>
                </ul>
              </span>
            </div>
          </div>

        </div>

      </div>

    </ng-container>
  </div>
</popup>

<!--
<modal id="custom-modal-2">
    <div class="modal">
        <div class="modal-body">
            <h1 style="height:1000px">A Tall Custom Modal!</h1>
            <button (click)="closeModal('custom-modal-2');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
-->