<div class="gallery-wrapper" [ngClass]="{'loaded': Photos}">
  <div class="search">
    <form class="search-form">
      <div class="form-field">
        <div class="search-input"><input type='text' placeholder='i.e. Minimal' [(ngModel)]='searchQuery' name='searchQuery'></div>
        <button type="button" (click)="getSearchResult(searchQuery)"><i class="icon icon-search"></i></button>
      </div>
    </form>
  </div>
  <div class="masonry" id="masonry">   
    <ng-container >
        <span class="masonry-image" *ngFor="let photo of Photos, let i = index" ><a href="{{photo.urls.full}}" target="_blank" ><img src="{{photo.urls.small}}"/></a></span>       
    </ng-container>   
 
  </div>
</div>