<header>
    <div class="app-name">
        <div class="main-container">
            <h1><a href="/">Wallperex</a></h1>
        </div>
    </div>
    <div class="main-container">
        <nav>
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Latest</a>
                </li>
                <li routerLinkActive="active"><a routerLink="collections">Collection</a></li>
                <li routerLinkActive="active" *ngIf="hasFav"><a routerLink="favorite">Favorites</a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>