.container {
  padding: 16px 16px;
}

.header {
  padding: 16px 16px 1px 16px;
  box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.2);
  position: static;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-details{
    display: flex;
    flex-direction: column;
  }

}
