<mat-tab-group>
  <mat-tab [label]="'LBL_HOME' | translate">
    <div class="tab-content">
      <div class="search-box">
        <mat-form-field class="search" appearance="outline">
          <mat-label>{{'LBL_SEARCH' | translate}}</mat-label>
          <button matPrefix mat-icon-button  (click)="value=''">
            <mat-icon fontIcon="search"></mat-icon>
          </button>
          <input matInput type="text" [(ngModel)]="value" (keyup.enter)="search(1)">
          @if (value) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
              <mat-icon fontIcon="close"></mat-icon>
            </button>
          }
        </mat-form-field>
        <button mat-icon-button >
          <mat-icon fontIcon="swap_vert" ></mat-icon>
        </button>

      </div>
      <div class="grid-wrapper">
        @for (image of images(); track image.id) {
        <div class="grid-item">
          <app-image-tile [image]="image"></app-image-tile>
        </div>
        }
        @if (isLoadingImages()) {
          @for (placeholder of imagePlaceholders; track $index) {
            <div class="grid-item skeleton-grid-item" aria-hidden="true">
              <app-skeleton-loader [singleItem]="true" [itemHeight]="315" />
            </div>
          }
        }
      </div>
      <div class="scroll-sentinel" appInfiniteScroll [appInfiniteScrollDisabled]="isLoadingImages() || !hasMoreImages()" (scrolled)="loadMoreImages('')" aria-hidden="true"></div>

    </div>

  </mat-tab>

  <mat-tab [label]="'LBL_COLLECTIONS' | translate">
    <div class="tab-content">
      <div class="grid-wrapper">
        @for (collection of collections(); track collection.id) {
          <div class="collection-grid-item">
            <app-collection-tile [collection]="collection"></app-collection-tile>
          </div>
        }
        @if (isLoadingCollections()) {
          @for (placeholder of collectionPlaceholders; track $index) {
            <div class="collection-grid-item collection-skeleton-grid-item" aria-hidden="true">
              <app-skeleton-loader [singleItem]="true" [itemHeight]="150" />
            </div>
          }
        }
      </div>
      <div class="scroll-sentinel" appInfiniteScroll [appInfiniteScrollDisabled]="isLoadingCollections() || !hasMoreCollections()" (scrolled)="getMoreCollections('')" aria-hidden="true"></div>
    </div>
  </mat-tab>

  <mat-tab [label]="'LBL_BOOKMARKS' | translate">
    Coming soon...
  </mat-tab>
</mat-tab-group>
