<router-outlet></router-outlet>
<div class="main-container">
  <div class="collection-page">
    <div class="collection-wrapper flex" id="collection-wrapper">
      <div class="collection-item" *ngFor="let collection of collections, let i = index"
        [ngStyle]="{background: 'url(' + collection?.cover_photo?.urls.thumb + ') center no-repeat / cover'}">
        <a [routerLink]="['./', collection?.id]">
          <span>
            <img [src]="collection?.cover_photo?.urls?.small" />
            <span class="collection-text flex">
              <span>{{collection?.title}}</span>
              <span class="small">{{collection?.total_photos}} Photos</span>
            </span>
          </span>
        </a>
      </div>
      <!-- <div class="loader relative" *ngIf="loadmore"></div> -->
      <span class="chips loadmore" *ngIf="collections.length>30">
        <ul class="text-center">
          <li><a href="javascript:void(0);" (click)="loadMoreCollections(pageNo)">Load more</a></li>
        </ul>
      </span>
    </div>
    <div class="loader relative" *ngIf="collections"></div>
  </div>
</div>