.collection-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    justify-content: center;

    .collection-item {
        flex: 0 0 calc(25% - 20px);
        height: 130px;
        position: relative;
        overflow: hidden;
        margin: 8px;

        img {
            min-width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(1);
            max-width: inherit;
            transition: all .3s ease;
        }

        @media all and (max-width:991px) {
            flex: 0 0 calc(33.33% - 20px);
        }

        @media all and (max-width:767px) {
            flex: 0 0 calc(50% - 20px);
        }

        @media all and (max-width:540px) {
            flex: 0 0 100%;
        }

        & > a{
            & > span{
                &:after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: rgba(0,0,0,0.5);
                    display: -webkit-box;
                    content: '';
                }
            }

            &:hover{
                img {
                    transform: translate(-50%,-50%) scale(.8);
                    transform-origin: center center;
                    transition: all .3s ease;
                }
            }
        }
       

        .collection-text {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            color: white;
            left: 15px;
            top: 15px;

            span:last-child{
                font-weight: 700;
                margin-top: 5px;
                display: block;
            }
        }

        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            z-index: 2;

            &:hover & img{
                transform: scale(1.2);
            }
        }
    }
}