@import "../external-assets/scss/scss-components/_chips-theme";
@import "../external-assets/scss/scss-components/_navigation-theme";
@import "../external-assets/scss/scss-components/_gallery-theme";
@import "../external-assets/scss/scss-components/_collection-theme";
@import "../external-assets/scss/scss-components/_popup-theme";
@import "../external-assets/scss/scss-components/_form-theme";

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $secondary: map-get($theme, secondary);
  $common: map-get($theme, color-grey);

  body {
    background: $secondary;
  }

  @include chips-theme($primary, $secondary);
  @include navigation-theme($primary, $secondary);
  @include gallery-theme($primary, $secondary);
  @include collection-theme($primary, $secondary);
  @include popup-theme($primary, $secondary, $common);
  @include form-theme($primary, $secondary);
}
 