@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $secondary: map-get($theme, secondary);
  $common: map-get($theme, color-grey);

  body {
    background: $secondary;
  }

  .main-container {
    padding: 0 1.5em;
    max-width: 1100px;
    margin: 0 auto;
  }

  %absoulteImage {
    min-width: 101%;
    max-width: inherit;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }

  %button-round {
    padding: 10px;
    display: flex;
    border: 1px solid $primary;
    border-radius: 25px;
    color: $primary;
    background: transparent;
    transition: all 0.2s ease;

    &:hover,
    &.active {
      box-shadow: 1px 2px 11px 0px rgba(black, 0.3);
      color: $secondary;
      background: $primary;
      transition: all 0.2s ease;
    }
  }

  %button-round-invert {
    border-radius: 25px;
    padding: 10px;
    display: flex;
    text-decoration: none;
    border: 1px solid $primary;
    background: $primary;
    color: $secondary;
    transition: all 0.2s ease;

    &:hover,
    &.active {
      color: $primary;
      background: transparent;
      box-shadow: 1px 2px 11px 0px rgba(black, 0.3);
      transition: all 0.2s ease;
    }
  }

  %absolute-at-half {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
  }

  %roundTransperentButton {
    font-size: 26px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 1px 2px 11px 0px rgba($primary, 0.3);
    background: rgba($primary, 0.5);
    color: $secondary;
  }
  // -- Header --
  .app-name {
    background: black;
    padding: 10px 0;
    transform: translateY(0);
    transition: all 0.8s ease;

    &.hideHeader {
      transform: translateY(-101%);
      transition: all 0.2s ease;
    }

    &.sticky {
      position: fixed;
      width: 100%;
      z-index: 3;
      transition: all 0.2s ease;
    }

    .header-title {
      margin: 0;
      line-height: 2rem;

      > a {
        display: inline-block;
        font-size: 40px;
        color: white;

        @media (max-width: 768px) {
          font-size: 30px;
        }
      }

      span {
        display: inline;
        margin-left: 2px;
        font-size: 20px;
      }
    }
  }

  // -- Navigation tabs --
  nav {
    padding: 100px 0 0;

    ul {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0 12px;
      overflow-x: auto;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      @media (max-width: 768px) {
        padding: 0;
      }

      &::-webkit-scrollbar {
        width: 0;
      }

      li {
        list-style: none;

        a {
          padding: 12px 12px;
          color: $primary;
          letter-spacing: 1px;

          .small {
            margin-left: 4px;
          }
        }

        &.active {
          border-bottom: 2px solid $primary;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 70px 0 0;
    }
  }

  // -- Collection page box --
  .collection-wrapper {
    padding: 1.5em 0;
    justify-content: center;

    .collection-item {
      flex: 0 0 calc(25% - 20px);
      height: 130px;
      position: relative;
      overflow: hidden;
      margin: 8px;
      border-radius: 5px;
      overflow: hidden;

      img {
        @extend %absoulteImage;
      }

      @media all and (max-width: 991px) {
        flex: 0 0 calc(33.33% - 20px);
      }

      @media all and (max-width: 767px) {
        flex: 0 0 calc(50% - 20px);
      }

      @media all and (max-width: 540px) {
        flex: 0 0 100%;
      }

      & > a {
        & > span {
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(black, 0.5);
          }
        }

        &:hover {
          img {
            transform: translate(-50%, -50%) scale(0.85);
            transform-origin: center center;
            transition: all 0.5s ease;
          }
        }
      }

      .collection-text {
        flex-direction: column;
        position: absolute;
        left: 15px;
        top: 15px;
        font-size: 14px;
        z-index: 1;
        color: white;

        span:last-child {
          display: block;
          margin-top: 5px;
        }
      }

      > a {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &:hover & img {
          transform: scale(1.2);
        }
      }
    }
  }

  // -- Global gallery & mesonry layout --
  .gallery-wrapper {
    padding: 1.5em 1.5em;

    @media (max-width: 768px) {
      padding: 1em;
    }

    img {
      vertical-align: middle;
    }

    .image-wrapper {
      > div:not(.user-info) {
        img {
          @extend %absoulteImage;
        }
      }
      > a {
        width: fill-available;
        width: -webkit-fill-available;
        width: -moz-available;
        overflow: hidden;
        color: $secondary;
      }
    }

    .masonry {
      width: 100%;
    }

    .masonry--h {
      flex-flow: row wrap;
    }

    .masonry--v {
      flex-flow: column wrap;
      max-height: 1080px;
    }

    .masonry--h,
    .masonry--v {
      margin-left: -8px; /* Adjustment for the gutter */
      counter-reset: brick;

      @media (max-width: 768px) {
        margin-left: -4px;
      }
    }

    .masonry-brick {
      overflow: hidden;
      border-radius: 5px;
      margin: 0 0 20px 20px; /* Some Gutter */
      background-color: #333;
      color: $secondary;
      position: relative;

      @media (max-width: 768px) {
        margin: 0 0 10px 10px;
      }
    }

    .masonry-brick:hover:after {
      font-size: 2.25em;
      opacity: 1;
    }

    .masonry-brick--h {
      flex: auto;
      height: 250px;
      min-width: 150px;
    }

    @media only screen and (min-width: 1024px) {
      /* Horizontal masonry bricks on desktop-sized screen */
      .masonry-brick--h:nth-child(4n + 1) {
        width: 250px;
      }
      .masonry-brick--h:nth-child(4n + 2) {
        width: 325px;
      }
      .masonry-brick--h:nth-child(4n + 3) {
        width: 180px;
      }
      .masonry-brick--h:nth-child(4n + 4) {
        width: 380px;
      }

      /* Adjusting vertical masonry height on desktop-sized screen */
      .masonry--v {
        max-height: 1600px;
      }

      /* Vertical masonry bricks on desktop-sized screen */
      .masonry-brick--v {
        width: 33.33333%;
      }
    }

    @media only screen and (max-width: 1023px) and (min-width: 540px) {
      /* Horizontal masonry bricks on tabled-sized screen */
      .masonry-brick--h:nth-child(4n + 1) {
        width: 200px;
      }
      .masonry-brick--h:nth-child(4n + 2) {
        width: 250px;
      }
      .masonry-brick--h:nth-child(4n + 3) {
        width: 120px;
      }
      .masonry-brick--h:nth-child(4n + 4) {
        width: 280px;
      }

      /* Adjusting vertical masonry height on tablet-sized screen */
      .masonry--v {
        max-height: 2000px;
      }

      /* Vertical masonry bricks on tablet-sized screen */
      .masonry-brick--v {
        width: 50%;
      }
    }

    .masonry-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: brightness(50%);
    }

    .masonry-image {
      transition: all 0.5s ease;

      &:hover .image-info {
        transition: all 0.3s ease;
      }

      @media all and(max-width: 991px) {
        .image-info {
          transition: all 0.3s ease;
        }
      }
    }

    &.loaded {
      .masonry-image {
        transition: all 0.5s ease;
      }
    }

    .user-info {
      position: absolute;
      top: 0;
      width: fill-available;
      width: -webkit-fill-available;
      width: -moz-available;
      padding: 10px;
      background: linear-gradient(rgba(black, 0.5), rgba(white, 0));

      span {
        font-size: 12px;
        color: white;
      }

      .user-profile-image img {
        width: 20px;
        border-radius: 50%;
        margin-right: 6px;
      }
    }

    .image-info {
      position: absolute;
      justify-content: space-between;
      width: 100%;
      font-size: 14px;
      padding: 10px;
      bottom: 0;
      background: linear-gradient(rgba(white, 0), rgba(black, 0.5));
      color: $secondary;
      transition: all 0.3s ease;

      .image-like {
        z-index: 2;
        color: white;
      }
    }
  }

  .backToTop {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    > i {
      @extend %roundTransperentButton;
    }
  }

  // -- Search bar style on home --
  .search {
    margin: 0 auto;
    padding: 0 8px 1.5rem;
    justify-content: space-between;

    .collection-banner {
      color: $primary;
    }

    .sorting {
      align-content: center;

      div {
        border-radius: 4px;
        border: none;
        color: $primary;

        &.sort {
          transform: rotatez(180deg);
          margin-right: 4px;
        }

        &.active {
          transform: scaleX(-1);
        }
      }
    }

    @media (max-width: 768px) {
      padding: 0 0 0.8rem 0;
    }

    .search-form {
      width: 50%;
      position: relative;

      .search-input {
        border-bottom: 1px solid $primary;
        overflow: hidden;

        input[type="text"] {
          width: 100%;
          border: none;
          padding: 0.3em 0;
          outline: none;
          font-size: 1.1rem;
          background: transparent;
          color: $primary;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5em 1em 0 1em;
        cursor: pointer;
        border: none;
        background: transparent;

        .icon-search {
          font-size: 1rem;
          color: $primary;
        }
      }

      @media (max-width: 768px) {
        width: 60%;
        margin: 0 8px;
      }
    }
  }

  // -- collection page box --
  popup {
    body.modal-open & {
      overflow: hidden;
    }

    &.active {
      .modal {
        transform: translateX(0);
        transition: all 0.3s ease;
      }
    }

    .close {
      display: inline-block;
      position: absolute;
      z-index: 1111;
      top: 20px;
      left: 20px;

      @media (max-width: 768px) {
        top: 10px;
        left: 10px;
      }

      > i {
        @extend %roundTransperentButton;
      }
    }

    .modal {
      position: fixed;
      height: 100vh;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 14px;
      background: #fff;
      transform: translateX(102%);
      transition: all 0.3s ease;
      z-index: 1000;

      @media (max-width: 991px) {
        overflow-y: auto;
      }
    }

    .modal-background {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.5;
      z-index: 900;
    }

    .image-popup-wrap {
      .image-popup-image {
        width: 66.666%;
        flex: 3;
        position: relative;

        > span {
          display: block;
          width: 100%;
          height: 100vh;
          position: relative;

          img {
            display: inline-block;
            min-height: 300px;
            margin: 0 auto;
            float: none;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            @media (max-width: 991px) {
              position: static;
              float: left;
              top: auto;
              left: auto;
              transform: translateY(0);
            }
          }

          @media (max-width: 991px) {
            height: auto;
          }
        }

        @media (max-width: 991px) {
          width: 100%;
          flex: 0;
        }
      }

      .image-popup-description {
        position: relative;
        width: 33.33%;
        padding: 25px 30px 30px 30px;
        flex: 1;
        -webkit-flex: 1;
        background: $secondary;
        color: $primary;

        span:first-child {
          flex-wrap: nowrap;

          img {
            border-radius: 50%;
            margin-right: 10px;
          }
        }

        .user-info {
          justify-content: space-between;
          margin: 10px 0 20px;
          color: $primary;

          .user-name {
            flex-direction: column;

            a {
              color: rgba(black, 0.9);
              color: $primary;
            }
          }

          @media (max-width: 768px) {
            margin: 0 0 20px;
          }
        }

        .image-detail {
          color: $primary;
          label {
            margin-right: 10px;
          }

          > div {
            margin: 12px 0;
            align-items: center;
          }

          .color-box > span {
            display: inline-block;
            width: 40px;
            height: 20px;
          }
        }

        @media (max-width: 991px) {
          width: auto;
          flex: auto;
          padding: 16px;
        }
      }

      @media (max-width: 991px) {
        flex-direction: column;
        height: 100vh;
        flex-wrap: nowrap;
      }
    }

    .buttons-wrapper {
      margin-top: 20px;

      .button {
        display: inline-block;

        > a {
          @extend %button-round-invert;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .button-share {
        position: relative;

        > span {
          display: block;
          cursor: pointer;

          > i {
            @extend %button-round;
            font-size: 14px;
            margin-left: 10px;
          }

          &.active ul {
            visibility: visible;
            opacity: 1;
            width: 100%;
            transition: all 0.3s ease;
          }
        }

        ul {
          flex-wrap: nowrap;
          flex-direction: row;
          position: absolute;
          visibility: hidden;
          opacity: 0;
          width: 0;
          height: 100%;
          left: 53px;
          bottom: 0;
          transition: all 0.2s ease;

          > li {
            display: inline-block;

            > a {
              @extend %button-round-invert;
              margin-right: 2px;
            }
          }
        }
      }
    }
  }

  // -- Chips ---
  .chips {
    margin-top: 20px;

    ul {
      > li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;

        > a {
          display: block;
          padding: 3px 10px;
          border-radius: 20px;
          font-size: 11px;
          letter-spacing: 0.7px;
          text-transform: uppercase;
          text-align: center;
          line-height: normal;
          background: $primary;
          color: $secondary;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            box-shadow: 1px 2px 11px 0px rgba(black, 0.3);
            transition: all 0.2s ease;
          }
        }
      }
    }
  }

  // -- Toggle button ---
  .toggle-switch {
    position: relative;
    width: 33px;
    height: auto;
    display: inline-block;

    > span {
      @extend %absolute-at-half;
      left: 0;
      right: auto;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $secondary;
      z-index: 9;
      transition: all 0.2s ease;

      &.active {
        left: 20px;
        transition: all 0.2s ease;
      }
    }

    &:after {
      @extend %absolute-at-half;
      content: "";
      width: 100%;
      height: 2px;
      background: #bbb;
    }
  }

  // -- Loader spinner global --
  .loader {
    margin: 0 auto;
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 0.5em solid $whitesmoke;
    border-right: 0.5em solid $whitesmoke;
    border-bottom: 0.5em solid $whitesmoke;
    border-left: 0.5em solid $primary;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    left: 50%;
    top: 50%;
    z-index: 2;

    &.relative {
      position: relative;
      left: auto;
      top: auto;
      transform: translateZ(0);
    }

    &,
    &:after {
      border-radius: 50%;
      width: 6em;
      height: 6em;
    }

    @media (max-width: 768px) {
      left: 45%;
    }

    @media (max-width: 520px) {
      left: 40%;
    }

    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

  // -- Range slider --
  input[type=range] {
    box-sizing: border-box;
    font-size: 0;
    line-height: 1;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    width: 100%;
    max-width: 200px;

    &::-webkit-slider-thumb{
      -webkit-appearance: none;
      width: 26px;
      height: 26px;
      margin-top: 0;
      background-color:$secondary;
      border-radius: 50%;
      border: 2px solid $primary;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track{
      width: 100%;
      cursor: pointer;
      height: 15px;
      border-bottom: 2px solid $primary;
      background-color: transparent;
    }

    &:focus {
      outline: none;
    }

    &:hover::-webkit-slider-thumb {
      background-color: $primary;
    }
  }
}
