<div class="main-container">
  <div class="gallery-wrapper">
    <div class="main-content">
      <div class="masonry flex masonry--h" id="masonry">
        <div class="loader" *ngIf="!favImages.length>0"></div>
        <span class="masonry-brick masonry-brick--h" *ngFor="let photoset of favImages, let i = index">
          <span>{{photoset?.imageOwnerName}}</span>
          <div class="image-wrapper">
            <div target="_blank">
              <img alt="{{photoset?.imageAlt}}" [src]="photoset?.imageURL" />
            </div>
            <a class="user-info flex align-items-center" href="javascript:void(0);" target="_blank">
              <span class="user-profile-image"><img alt="" [src]="photoset?.imageOwnerProfile" /></span>
              <span class="user-name">{{photoset?.imageOwnerName}}</span>
            </a>
            <div class="image-info">
              <a class="image-like" [href]="photoset?.imageDownloadPath" download rel="nofollow"><i
                  class="material-icons">arrow_downward</i></a>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>